.top-content
{
  background-color: #ddd;
  padding: 1rem;
  .title
  {
    margin: 0;
    color: #3f51b5;
    span:nth-of-type(1)
    {
      outline: none;
      &:hover
      {
        text-decoration: underline;
      }
    }
    span:nth-of-type(2)
    {
      color: #626262;
    }
  }
  .btn
  {
    margin-left: auto;
  }
}
.btn-danger
{
  margin: .5rem 0;
}
hr
{
  border: 1px solid #ddd;
}

.category-details
{
  margin-top: 1rem;
  .box
  {
    padding: .5rem .5rem 0 .5rem;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px -3px #ddd;
    border: 1px solid #ddd;
    position: relative;
    .action-btns
    {
      position: absolute;
      top: 0;
      right: 0;
      padding: .5rem;
      background-color: rgba(255,255,255, .8);
      border-radius: .3rem;
      align-items: center;
      .edit-btn
      {
        border: none;
        background-color: #3f51b5;
        color: #fff;
        padding: .5rem;
        outline: none;
        margin-right: 1rem;
      }
      .checkbox
      {
        width: 20px;
        height: 20px;
      }
    }
    .card-img
    {
      height: 200px;
    }
    .card-body
    {
      .code
      {
        padding: .5rem 0;
        border-bottom: 1px solid #ddd;
        color: #A1A1A1;
      }
      .product-name
      {
        padding: .5rem 0;
        margin: 0;
        color: #222;
      }
      .price
      {
        padding: .5rem 0;
        font-size: 1.5rem;
        color: #673ab7;
        font-weight: bold;
        margin-left: auto;
      }
    }
  }
}

.pages-list
{
  list-style: none;
  justify-content: center;
  .page-number
  {
    padding: .5rem;
    border: 1px solid #ddd;
    color: #626262;
    background-color: #fff;
    &.active
    {
      background-color: #eee;
      cursor: auto;
    }
    &:first-of-type
    {
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
    }
    &:last-of-type
    {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
}
