/* You can add global styles to this file, and also import other style files */
body
{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}
*
{
  box-sizing: border-box;
}
.container
{
  width: 95%;
  margin: 0 auto;
}
.obj-cover
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pointer
{
  cursor: pointer;
}
.d-flex
{
  display: flex;
}
.info-msg
{
  background-color: #00bcd4;
  border-radius: 0.3rem;
  padding: 1rem;
  color: #fff;
}
.btn-success
{
  color: #fff;
  background-color: #64f321;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border: none;
  transition: .2s;
  outline: none;
  &:hover
  {
    background-color: #4ebe1a;
  }
}
.btn-success[disabled] {
  opacity: .5;
  &:hover
  {
    background-color: #64f321;
  }
}
.btn-primary
{
  color: #fff;
  background-color: #2196f3;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border: none;
  transition: .2s;
  outline: none;
  &:hover
  {
    background-color: #1979c7;
  }
}
.btn-primary[disabled] {
  opacity: .5;
  &:hover
  {
    background-color: #2196f3;
  }
}
.btn-danger
{
  color: #fff;
  background-color: #e91e63;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border: none;
  transition: .2s;
  outline: none;
  &:hover
  {
    background-color: #b4194d;
  }
}
.form-control
{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: .3rem;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  outline: none;
  &.is-invalid
  {
    border: 1px solid #e91e63;
  }
}
.text-center
{
  text-align: center;
}
.text-right
{
  text-align: right;
}

.popup
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  .box
  {
    position: relative;
    background-color: #fff;
    border-radius: 0.3rem;
    width: 95%;
    height: 90%;
    margin: auto;
    padding: 1rem 1rem;
    .close
    {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 1px 1px 10px #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fafafa;
      border: 1px solid #ddd;
    }
    .inner-content
    {
      padding-top: 4rem;
    }
  }
}
.row
{
  display: flex;
  flex-wrap: wrap;
  .col-4
  {
    width: 33.3333%;
    padding: 0 .5rem;
    margin-bottom: 1rem;
  }
}
@media(max-width: 767px) {
  .row
  {
    .col-4
    {
      width: 50%;
    }
  }
}
